
<h1><%= @property.title %></h1>
<%= @property.description %>
Quartos: <%= @property.rooms %>
Banheiros: <%= @property.bathrooms %>
Aceita Pets: <%= @property.pets ? 'Sim' : 'Não' %>
Estacionamento: <%= @property.parking_slot ? 'Sim' : 'Não' %>
Diária: R$ <%= @property.daily_rate %>
