<h1>Cadastrar um novo Tipo de Imóvel</h1>

<%= form_with(model: @property_type) do |f| %>
	<div>
		<%= f.label :name, 'Nome' %>
		<%= f.text_field :name %>
	</div>
	<%= f.submit 'Enviar' %>
<% end %>

<% if @property_type.errors.any? %>
	<ul>
		<% @property_type.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>
