
<h1>Cadastrar Regiões:</h1>
<%= form_with(model: @location) do |f| %>
	<div>
		<%= f.label :name, 'Nome' %>
		<%= f.text_field :name %>
	</div>
	<%= f.submit 'Enviar' %>
<% end %>
<div>
	<% flash.each do |name, msg| %>
		<%= content_tag :p, msg, class: name %>
	<% end %>
</div>
