
<h1>Flats</h1>

<h3>Boas vindas ao sistema de locação de apartamentos</h3>

<nav>
	<%= link_to 'Cadastrar Imóvel', new_property_path %> |
	<%= link_to 'Cadastrar Tipos de Imoveis', new_property_type_path %> |
	<%= link_to 'Cadastrar Região', new_property_location_path %>
</nav>

<div>
	<% @properties.each do |p| %>
		<%= link_to(p.title, property_path(p.id)) %>
		<%= p.description %>
		Quartos: <%= p.rooms%>
	<% end %>
	<% if @properties.empty? %>
		<%= 'Nenhum imóvel disponível' %>
	<% end %>
</div>
<div>
	<h4>Tipos de Imóveis:</h4>
	<ul>
		<% @property_types.each do |p_t| %>
			<li><%= p_t.name %></li>
		<% end %>
	</ul>
</div>
<div>
	<h4>Regiões:</h4>
	<ul>
		<% @property_locations.each do |p_l| %>
			<li><%= p_l.name %></li>
		<% end %>
	</ul>
</div>
