
<h1>Flats</h1>

<h3>Boas vindas ao sistema de locação de apartamentos</h3>

<nav>
	<%= link_to 'Cadastrar Imóvel', new_property_path %> |
	<%= link_to 'Cadastrar Tipos de Imoveis', new_property_type_path %> |
	<%= link_to 'Cadastrar Região', new_property_location_path %>
</nav>

<div>
	<% @properties.each do |p| %>
		<%= link_to(p.title, property_path(p.id)) %>
		<%= p.description %>
		Quartos: <%= p.rooms%>
	<% end %>
	<% if @properties.empty? %>
		<%= 'Nenhum imóvel disponível' %>
	<% end %>
</div>
<div>
	<h4>Tipos de Imóveis:</h4>
	<nav>
		<ul>
			<% @property_types.each do |property_type| %>
				<li><%= link_to property_type.name, property_type %></li>
			<% end %>
		</ul>
	</nav>
</div>
<div>
	<h4>Regiões:</h4>
	<nav>
		<ul>
			<% @property_locations.each do |property_location| %>
				<li><%= link_to property_location.name, property_location %></li>
			<% end %>
		</ul>
	</nav>
</div>
